In [1]:
# Assuming that we have some email addresses in the "username@companyname.com" format, 
#please write program to print the company name of a given email address.
#Both user names and company names are composed of letters only.

In [4]:
import re

email = "name@apple.com"
email

'name@apple.com'

In [5]:
print(email.split("@")[1].split(".")[0])

apple

In [6]:
#Write a program that accepts a comma-separated sequence of words as input;
#print the words in a comma separated sequence after sorting them alphabetically.

In [7]:
myUnsortedList = ['ddd','sss','bbb','kk','aaa','pp2','zzz']
myUnsortedList

['ddd', 'sss', 'bbb', 'kk', 'aaa', 'pp2', 'zzz']

In [9]:
sortedList = sorted(myUnsortedList)
sortedList

['aaa', 'bbb', 'ddd', 'kk', 'pp2', 'sss', 'zzz']

In [ ]:
#Create your own Jupyter Notebook for Sets.

#Set is created by using - {} separated by commas
#Sets cannot have dupicates.
#some of the functions that can be used with sets are 
#add, update, pop, clear,remove, discard,union,intersection,difference,

In [28]:
myMovieSet1 = {'troy','fury','fightClub'}
myMovieSet2 = {'Oceans 11','Oceans 12','Oceans 13'}

In [29]:
for i in myMovieSet1:
    print(i)

fury
fightClub
troy

In [30]:
myMovieSet2.add('oceans 7')

In [31]:
for i in myMovieSet2:
    print(i)

Oceans 13
Oceans 12
oceans 7
Oceans 11

In [33]:
myMovieSet2.discard('oceans 7')
myMovieSet2

{'Oceans 11', 'Oceans 12', 'Oceans 13'}

In [35]:
if "troy" in myMovieSet1:
    print("yes, the movie is available now")
else:
    print("Sorry, movie is not available now")

yes, the movie is available now

In [37]:
bradPittMovies = myMovieSet1.union(myMovieSet2)
bradPittMovies

{'Oceans 11', 'Oceans 12', 'Oceans 13', 'fightClub', 'fury', 'troy'}

In [45]:
#missing element from a list

a = [1,2,3,4,5,8,9,10]
missing_element = []
for i in range(a[0], a[-1]+1):
    if i not in a:
        missing_element.append(i)

print (missing_element)

[6, 7]

In [46]:
# Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. 
#There are no duplicates.


Input Format:
The first line contains n-1 numbers with each number separated by a space. Output Format:
Print the missing number
Example:
Input:1 2 4 6 3 7 8
Output:5

In [85]:
num = '1 4 5 7 8 9'
num

'1 4 5 7 8 9'

In [86]:
num.split()

['1', '4', '5', '7', '8', '9']

In [87]:
num = map(int ,num.split(' '))

In [ ]:

# 1, 2, 4, 5, 6.
#take 'n' as 6 and do n(n+1)/2.
#So 6(6+1)/2 = 42/2 = 21.
#Now sum all elements 1+2+4+5+6=18

#Now subtract 21-18 = 3,

In [88]:
x = list(num)
x

[1, 4, 5, 7, 8, 9]

In [81]:
#write a function

def findMissingNum(listVal):
    n = len(listVal)
    totalVal = (n + 1)*(n + 2)/2
    sumVal = sum(listVal)
    return totalVal - sumVal

missingNum = findMissingNum(x)
print(missingNum)


#not working efficiently..good for one val

-6.0

In [ ]:
#convert the list to set and simply output the difference between this set
#and a set that contains integers ranging from min(lst) and max(lst).

def findMissingValues(lst): 
    return sorted(set(range(lst[0], lst[-1])) - set(lst))

missingValues = findMissingValues(x)
print(missingValues)

In [82]:
# write a program to print this list L after removing all duplicate values with original order reserved.

In [83]:
dataList = '12 24 35 24'
dataList = map(int, dataList.split(' '))

dataList = list(dict.fromkeys(dataList))

print(dataList)

[12, 24, 35]